---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <div id="canvas"></div>
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.6rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:200">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Blogs
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                 </h3>
                 <hr class="hr-line">
                 <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/leetcode">
                       Leetcode Solutions
                   </a>
                </h3>
                 <hr class="hr-line">
                 <h3 class="title">
                    <a href="https://gamer-ai.github.io/">
                        <p style="font-size:1.0rem;font-weight:150">Gamer-ai, my github org for fun, focusing on 3D visuals and interactions</p>
                    </a>
                 
                 <a href="https://gamer-ai.github.io/">
                    <img src="{{ site.organization }}" class="img-small-circle zoombtn animated rotateIn">
                 </a>
                 </h3>
                 <h3 >
                    <script async src="https://cse.google.com/cse.js?cx=000703603923980589510:t0yhdcd_f-u"></script>
                    <div class="gcse-search"></div>
                </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>
<script src="{{ site.url }}/assets/js/3delements.js"></script>
<style>
    #canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    }
</style>